* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f8f8;
}

.menu-separator {
  padding-left: 200px;
}
