<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/globals.css" />
    <link rel="stylesheet" href="./styles/contactos.css" />
    <link rel="stylesheet" href="./styles/menu.css" />
    <script
      src="https://kit.fontawesome.com/473d269aa9.js"
      crossorigin="anonymous"
    ></script>
    <title>Contactos</title>
  </head>
  <body>
    <div class="menu-separator">
      <header>
        <h2>Directorio</h2>
        <nav>
          <ul class="top-menu">
            <li class="top-menu__item">Directorio</li>
            <li class="top-menu__item">Clientes</li>
            <li class="top-menu__item">Documentos</li>
            <li class="top-menu__item">Pedidos de servicio</li>
            <li class="top-menu__item">Salir</li>
          </ul>
        </nav>
      </header>
      <section class="search">
        <h3>CRITERIO DE BUSQUEDA</h3>
        <input type="text" name="search" id="search" />
        <button type="button">Buscar Contacto</button>
      </section>
      <section class="contacts">
        <div class="contacts__table">
          <div class="contacts__table--column">
            <h4>Primer nombre</h4>
            <div><p>Adalia</p></div>
            <div><p>Adrianna</p></div>
            <div><p>Alcides</p></div>
            <div><p>Alejandro</p></div>
          </div>
          <div class="contacts__table--column">
            <h4>Segundo nombre</h4>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="contacts__table--column">
            <h4>Apellido paterno</h4>
            <div><p>Vindas</p></div>
            <div><p>Valverde</p></div>
            <div><p>Viquez</p></div>
            <div><p>Vargas</p></div>
          </div>
          <div class="contacts__table--column">
            <h4>Apellido materno</h4>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="contacts__table--column">
            <h4>Correo</h4>
            <div><p>avindas@grupocesa.com</p></div>
            <div><p>avalverde@grupocesa.com</p></div>
            <div><p>aviquez@grupocesa.com</p></div>
            <div><p>avargas@grupocesa.com</p></div>
          </div>
          <div class="contacts__table--column">
            <h4>Prefijo</h4>
            <div><p>+506</p></div>
            <div><p>+506</p></div>
            <div><p>+506</p></div>
            <div><p>+506</p></div>
          </div>
          <div class="contacts__table--column">
            <h4>Teléfono</h4>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="contacts__table--column">
            <h4>Celular</h4>
            <div><p>8888-8888</p></div>
            <div><p>8888-8888</p></div>
            <div><p>8888-8888</p></div>
            <div><p>8888-8888</p></div>
          </div>
          <div class="contacts__table--column">
            <h4>Extensión</h4>
            <div><p>2600</p></div>
            <div><p>2600</p></div>
            <div><p>2600</p></div>
            <div><p>2600</p></div>
          </div>
          <div class="contacts__table--column">
            <h4>Editar</h4>
            <div><p>E</p></div>
            <div><p>E</p></div>
            <div><p>E</p></div>
            <div><p>E</p></div>
          </div>
        </div>
      </section>
    </div>
    <section class="menu">
      <h1>PORTAL CESA</h1>
      <hr />
      <ul class="menu__container">
        <li>
          <a href="./contactos.html">
            <i class="fas fa-address-book"></i>
            <p>DIRECTORIO</p>
          </a>
        </li>
        <li>
          <a href="./clientes.html">
            <i class="fas fa-book"></i>
            <p>CLIENTES</p>
          </a>
        </li>
        <li>
          <a href="./pedidos.html">
            <i class="fas fa-user-clock"></i>
            <p>PEDIDOS DE SERVICIO</p>
          </a>
        </li>
        <li>
          <a href="./documentos.html">
            <i class="fas fa-file-alt"></i>
            <p>DOCUMENTOS</p>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
