<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/globals.css" />
    <link rel="stylesheet" href="./styles/documentos.css" />
    <link rel="stylesheet" href="./styles/menu.css" />
    <script
      src="https://kit.fontawesome.com/473d269aa9.js"
      crossorigin="anonymous"
    ></script>
    <title>Documentos</title>
  </head>
  <body>
    <div class="menu-separator">
      <header>
        <h2>Documentos</h2>
        <nav>
          <ul class="top-menu">
            <li class="top-menu__item">Directorio</li>
            <li class="top-menu__item">Clientes</li>
            <li class="top-menu__item">Documentos</li>
            <li class="top-menu__item">Pedidos de servicio</li>
            <li class="top-menu__item">Salir</li>
          </ul>
        </nav>
      </header>
      <section class="search">
        <h3>Nuevo documento</h3>
        <button type="button">Añadir documento</button>
      </section>
      <section class="documents">
        <div class="documents__table">
          <div class="documents__table--column">
            <h4>Título</h4>
            <div><p>Rol de guardia servidores</p></div>
            <div><p>Rol de Bases de datos</p></div>
            <div><p>Rol de consultoría</p></div>
            <div><p>Rol de Panamá</p></div>
          </div>
          <div class="documents__table--column">
            <h4>Peso (Kb)</h4>
            <div><p>14654</p></div>
            <div><p>14654</p></div>
            <div><p>14654</p></div>
            <div><p>14654</p></div>
          </div>
          <div class="documents__table--column">
            <h4>Subido</h4>
            <div><p>06-Jan-2021 11:24am</p></div>
            <div><p>06-Jan-2021 11:24am</p></div>
            <div><p>06-Jan-2021 11:24am</p></div>
            <div><p>06-Jan-2021 11:24am</p></div>
          </div>
          <div class="documents__table--column">
            <h4>Subido por</h4>
            <div><p>Christopher Hernandez</p></div>
            <div><p>Jonathan García</p></div>
            <div><p>Carlos Montoya</p></div>
            <div><p>Douglas Sequeira</p></div>
          </div>
          <div class="documents__table--column">
            <h4>Archivar</h4>
            <div><button type="button">Archivar</button></div>
            <div><button type="button">Archivar</button></div>
            <div><button type="button">Archivar</button></div>
            <div><button type="button">Archivar</button></div>
          </div>
        </div>
      </section>
    </div>
    <section class="menu">
      <h1>PORTAL CESA</h1>
      <hr />
      <ul class="menu__container">
        <li>
          <a href="./contactos.html">
            <i class="fas fa-address-book"></i>
            <p>DIRECTORIO</p>
          </a>
        </li>
        <li>
          <a href="./clientes.html">
            <i class="fas fa-book"></i>
            <p>CLIENTES</p>
          </a>
        </li>
        <li>
          <a href="./pedidos.html">
            <i class="fas fa-user-clock"></i>
            <p>PEDIDOS DE SERVICIO</p>
          </a>
        </li>
        <li>
          <a href="./documentos.html">
            <i class="fas fa-file-alt"></i>
            <p>DOCUMENTOS</p>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
