<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/globals.css" />
    <link rel="stylesheet" href="./styles/pedidos.css" />
    <link rel="stylesheet" href="./styles/menu.css" />
    <script
      src="https://kit.fontawesome.com/473d269aa9.js"
      crossorigin="anonymous"
    ></script>
    <title>Pedidos</title>
  </head>
  <body>
    <div class="menu-separator">
      <header>
        <h2>Pedidos de servicio</h2>
        <nav>
          <ul class="top-menu">
            <li class="top-menu__item">Directorio</li>
            <li class="top-menu__item">Clientes</li>
            <li class="top-menu__item">Documentos</li>
            <li class="top-menu__item">Pedidos de servicio</li>
            <li class="top-menu__item">Salir</li>
          </ul>
        </nav>
      </header>
      <section class="search">
        <h3>Nuevo pedido de servicio</h3>
        <button type="button">Agregar pedido</button>
      </section>
      <section class="requests">
        <div class="requests__table">
          <div class="requests__table--column">
            <h4>Cliente</h4>
          </div>
          <div class="requests__table--column">
            <h4>Persona que llamó</h4>
          </div>
          <div class="requests__table--column">
            <h4>Teléfono</h4>
          </div>
          <div class="requests__table--column">
            <h4>Fecha</h4>
          </div>
          <div class="requests__table--column">
            <h4>Atendido por</h4>
          </div>
          <div class="requests__table--column">
            <h4>Detalle</h4>
          </div>
        </div>
      </section>
    </div>
    <section class="menu">
      <h1>PORTAL CESA</h1>
      <ul class="menu__container">
        <details class="menu__details">
          <summary class="menu__title">
            <i class="fas fa-address-book"></i>
            <p>DIRECTORIO</p>
          </summary>
          <ul class="menu__list">
            <li class="menu__list-item">
              <a href="./contactos.html">Ver contactos</a>
            </li>
            <li class="menu__list-item">
              <a href="./contactos_agregar.html">Agregar contacto</a>
            </li>
          </ul>
        </details>
        <details class="menu__details">
          <summary class="menu__title">
            <i class="fas fa-book"></i>
            <p>CLIENTES</p>
          </summary>
          <ul>
            <li class="menu__list-item">
              <a href="./clientes.html">Ver clientes</a>
            </li>
            <li class="menu__list-item">
              <a href="./clientes_agregar.html">Agregar cliente</a>
            </li>
          </ul>
        </details>
        <details class="menu__details" open>
          <summary class="menu__title">
            <i class="fas fa-user-clock"></i>
            <p>PEDIDOS DE SERVICIO</p>
          </summary>
          <ul class="menu__list">
            <li class="menu__list-item">
              <a href="./pedidos.html">Ver pedidos</a>
            </li>
            <li class="menu__list-item">
              <a href="./pedidos_agregar.html">Agregar pedido</a>
            </li>
          </ul>
        </details>
        <details class="menu__details">
          <summary class="menu__title">
            <i class="fas fa-file-alt"></i>
            <p>DOCUMENTOS</p>
          </summary>
          <ul class="menu__list">
            <li class="menu__list-item">
              <a href="./documentos.html">Ver documentos</a>
            </li>
            <li class="menu__list-item">
              <a href="./documentos_agregar.html">Agregar documento</a>
            </li>
            <li class="menu__list-item">
              <a href="">Documentos archivados</a>
            </li>
          </ul>
        </details>
      </ul>
    </section>
    <div class="menu-bg"></div>
    <script src="../utils/toggle_menu.js"></script>
    <script src="../utils/pedidos_llenar.js"></script>
  </body>
</html>
