/* Menu up */
:root {
  --bg-sections: #fffffd;
  --border-sections: #efeef1;
  --gray: #8a8a8c;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: var(--bg-sections);
  border: 1px solid var(--border-sections);
  color: var(--gray);
}

h2 {
  padding-left: 20px;
  font-size: 1.7rem;
}

.top-menu {
  display: flex;
  list-style: none;
  height: 55px;
}

.top-menu__item {
  padding: 0 25px;
  display: flex;
  font-size: 1.4rem;
  align-items: center;
}

/* Menu left */
.menu {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #0000ff91;
  color: white;
}

h1 {
  text-align: center;
  padding: 20px 0;
}

hr {
  margin-bottom: 30px;
}

.menu__container {
  padding: 0 20px;
  list-style: none;
}

.menu__container li {
  margin: 25px 0;
  font-size: 1rem;
}

.menu__container li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.menu__container li p {
  font-weight: 700;
  padding-left: 10px;
}

.menu__container li i {
  font-size: 2rem;
  width: 25px;
}
